NokAir.TalkToCeo.Api.csproj.lscache
D:\Work\Project_Nx\talk-to-ceo\apps\api\bin\Debug\net8.0\/appsettings.Development.json
D:\Work\Project_Nx\talk-to-ceo\dist\dotnet\bin\NokAir.TalkToCeo.Api\net8.0\/appsettings.Development.json
